<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Profile</title>
    <link rel="stylesheet" th:href="@{/candidate-profile.css}">
</head>
<body>
<h1>Welcome to the Candidate profile!</h1>

<nav>
    <a href="/user/home">Home</a>
    <a href="/user/about">About</a>

    <div class="dropdown">
        <button class="dropbtn">User</button>
        <div class="dropdown-content">
            <a href="/user/profile">Profile</a>
            <a href="/user/update-profile">Update Profile</a>
            <a href="/user/delete-account">Delete Account</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Candidacy</button>
        <div class="dropdown-content">
            <a href="/user/candidacy/candidate-application">Submit your candidacy</a>
            <a href="/user/candidacy/update-candidacy">Update Candidacy</a>
            <a href="/user/candidacy/withdraw-candidacy">Withdraw Candidacy</a>
            <a href="/user/candidacy/candidates-list">Candidates List</a>
        </div>
    </div>

    <a href="/user/logout">Sign Out</a>
</nav>

<div class="profile-card">

    <div class="profile-image">
        <img th:src="@{${candidacy.profilePicture}}" alt="Profile Picture">
    </div>

    <h2>Candidacy details:</h2>
    <p><strong>Position Title:</strong> <span th:text="${candidacy.position}"></span></p>
    <p><strong>Description:</strong> <span th:text="${candidacy.description}"></span></p>
    <p><strong>Slogan:</strong> <span th:text="${candidacy.slogan}"></span></p>
    <p><strong>Political Party:</strong> <span th:text="${candidacy.politicalParty}"></span></p>

    <h2>Personal Details:</h2>
    <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
    <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
    <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Age:</strong> <span th:text="${user.age}"></span></p>
    <p><strong>Gender:</strong> <span th:text="${user.gender}"></span></p>
    <p><strong>Address:</strong> <span th:text="${user.address}"></span></p>
    <p><strong>Phone Number:</strong> <span th:text="${user.phoneNumber}"></span></p>
    <p><strong>About Me:</strong></p>
    <textarea readonly th:text="${user.aboutMe}"></textarea>

</div>
</body>
</html>