<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/signup.css}">
</head>
<body>
<h1>Get Started with Your Election Profile</h1>

<nav>
    <a href="/user/home">Home</a>
</nav>

<form action="#" th:action="@{/user/signup}" method="post">
    <h2>Fill out the form to sign up to our service</h2>

    <p th:if="${error}" class="error-message" th:text="${error}"></p>

    <div class="form-group">
        <input type="text" id="firstName" name="firstName" placeholder="First Name" required/>
        <input type="text" id="middleName" name="middleName" placeholder="Middle Name"/>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" required/>
    </div>

    <div class="form-group">
        <input type="text" id="username" name="username" placeholder="Username" required/>
        <input type="email" id="email" name="email" placeholder="Email" required/>
        <input type="number" id="age" name="age" placeholder="Age" required/>
    </div>

    <div class="form-group">
        <select id="gender" name="gender" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <input type="text" id="address" name="address" placeholder="Address" required/>
        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required/>
    </div>

    <h2>About Me:</h2>
    <textarea name="aboutMe" placeholder="Tell us about yourself..."></textarea>

    <h2>Set your password:</h2>
    <div class="form-group">
        <input type="password" id="password" name="password" placeholder="Password" required/>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required/>
    </div>

    <button type="submit">Sign Up</button>
</form>


<p>Already have an account? <a href="/user/login">Login here</a></p>
</body>
</html>
