/* 1. BODY */
body {
    background: url('/images/about.gif') no-repeat center center fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #777777;
}

/* 2. HEADER - main title */
h1 {
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 0;
}

/* 3. NAVBAR */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    padding: 12px 25px;
    background-color: transparent;
    color: #777777;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #99d2e9;
    border-color: #99d2e9;
}





.about-container {
    width: 90%;
    margin: 100px auto;
    padding: 20px;
    background: rgba(249, 249, 249, 0.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 15px;
}

