/* 1. BODY */
body {
    background: url('/images/delete.gif') no-repeat center center fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #777777;
}

/* 2. HEADER - main title */
h1 {
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 0;
}

/* 3. NAVBAR */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

nav a, .dropbtn {
    text-decoration: none;
    background-color: transparent;
    color: #777777;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    border: none;
}

nav a:hover, .dropbtn:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
    background-color: #99d2e9;
    border-color: #99d2e9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
}

.dropdown-content a {
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.delete-container {
    background: rgba(249, 249, 249, 0.5);
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px ;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #777777;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

button.delete-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button.delete-button:hover {
    background-color: #e55353;
}
