/* -------------------- GENERAL -------------------- */

body {
    background-color: rgb(240, 240, 240) !important;
    font-family: 'Arial';
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 40px 0 40px;
    color: #8e8e8e !important;
}

/* -------------------- NAVBAR -------------------- */

.navbar {
    margin-top: 0px;
    background-color: #333333 !important;
    padding: 15px 30px;
}

.navbar .nav-link {
    color: #e0e0e0 !important;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.navbar-toggler-icon {
    background-color: #e0e0e0 !important;
}



/* -------------------- FORM -------------------- */

/* 9. error-message */
.error-message {
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

/* -------------------- CONTAINER -------------------- */

.container {
    background-color: #ffffff !important;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

input, select, textarea, .btn {
    background-color: rgba(40, 167, 69, 0.07) !important;
    border: none !important;
    color: black !important;
    font-weight: bold !important;
}

textarea {
    height: 300px !important;
    resize: none !important;
    border-radius: 10px;
}

.btn:hover {
    background-color: #99d2e9 !important;
    border: none !important;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.circle-image {
    width: 400px;
    height: auto;
    border-radius: 50%;
}

